<div class = "container">
    <div class="events">
<h3>Events</h3>
    </div>
    <hr>
{{#each events}}
    <div class="event-container">

        <div class="event-name">
            <li><a href="/events/{{this._id}}">{{this.name}}</a></li>
        
        </div>
        <div class="edit-delete">
        <a href="/events/{{this._id}}/edit">Edit</a>
        <a href="/events/{{this._id}}/delete">Delete</a>
        </div>
    </div>
{{/each}}
</div>

