<div class="container">

<h4>Create a new event</h4>

<form action="/events/new-event" method="POST" id="form-container">

 <div class="form-group">
  <label class="col-lg-3 col-form-label form-control-label"for="Event Name">Event Name :</label>
  <div class="col-lg-9">
  <input class="form-control" id ="Event Name" type="text" name="name" placeholder="add a short,clear name">
</div>
</div>

 <div class="form-group">
  <label class="col-lg-3 col-form-label form-control-label" for="Location">Location :</label>
  <div class="col-lg-9">
  <input class="form-control" id="Location" type="text" name="location" placeholder="include an address">
  </div>
</div>

<div class="form-group">
  <label class="col-lg-3 col-form-label form-control-label" for="Date">Date :</label>
  <div class="col-lg-9">
  <input class="form-control" id="Date" type="date" name="date" placeholder="">
  </div>
</div>
  
<div class="form-group">
  <label class="col-lg-3 col-form-label form-control-label" for="Time">Time :</label>
  <div class="col-lg-9">
  <input class="form-control" id="Time" type="time" name="time" placeholder="">
  </div>
</div>


<div class="form-group">

 <label class="col-lg-3 col-form-label form-control-label"for="Description">Description :</label>
 <div class="col-lg-9">
 <textarea rows="2" cols="50" name="description">
</textarea>
</div>
</div>
  {{!-- <label for="Description">Description :</label>
  <input id="Description" type="description" name="description" placeholder="tell people more about the event"> --}}
 <p>Yes!!! You can invite your friends too :)</p>

 
<button class="btn btn-success" type="submit">Submit</button>

</form>

</div>