<form action="/auth/profile" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Username">

  <br><br>

  <label for="Email">Email</label>
  <input id="Email" type="email" name="Email" placeholder="Email">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>

<input type="file" name="pic" accept="image/*">
<input type="submit">

<br>

<label for="Bio">Bio</label>
<input id="Bio" type="text" name="Bio" placeholder="About you">

<br><br>

<button type="button">Create an event</button>

</form>