{{#if this}}
<p>Signed in as {{username}}</p>
{{/if}}

<form action='/auth/profile' method="POST" id="form-container">
  <label for="username">Username :</label>
  <input id="username" type="text" name="username" placeholder="Username" value="{{username}}">

  <br><br>

  <label for="Email">Email: </label>
  <input id="Email" type="email" name="email" placeholder="example@email.com" value="{{email}}">

  <br><br>

  <label for="password">Password: </label>
  <input id="password" type="password" name="password" placeholder="Your password" required>
  <br>

{{!-- <input type="file" name="pic" accept="image/*">
<input type="submit"> --}}

<br>

<label for="Bio">Bio :</label>
 <textarea name="bio" rows="4" cols="50">{{bio}}</textarea>

<br>

<button type="submit">Update changes</button>
<br><br>

</form>
<a href="/events/new-event" type="button">Create an event</a>