 <div class="container">
          <section class="col col-3">
      
            <h5>Contact Information</h5>
            <address class="address">Save Our Planet<br>Stralauer allee 6,<br> 10245 Berlin, <br>Germany <br>+49 (0) 619 193 088</address>
            <h5>Follow Us</h5>
            <ul>
              <li ><a href="#" target="_blank">Twitter</a></li>
              <li><a href="#" target="_blank">Facebook</a></li>
              <li ><a href="#" target="_blank">Instagram</a></li>
            </ul>
      
          </section>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.142047744348!2d2.3354330160472316!3d48.87456857928921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack!5e0!3m2!1sen!2ses!4v1495208746099" 
         class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="clearfix"></div>
        </div>