
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/ddxwupalu/image/upload/v1530262174/philippe-leone-667206-unsplash.jpg" alt="first slide" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddxwupalu/image/upload/v1530262111/joseph-pearson-454448-unsplash.jpg" alt="second slide" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/ddxwupalu/image/upload/v1530262134/matthew-smith-5935-unsplash.jpg" alt="third slide" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<div class="footer">
  <p>Raising awareness on the most pressing environmental issues of our time is more important than ever!!</p>
</div>
