<form action="/event/new-event" method="POST" id="form-container">

  <label for="Event Name">Event Name :</label>
  <input id ="Event Name" type="text" placeholder="add a short,clear name">

  <br><br>

  <label for="Location">Location :</label>
  <input id="Location" type="text" name="location" placeholder="include an address">

  <br><br>

  <label for="Date">Date :</label>
  <input id="Date" type="date" name="date" placeholder="">

  <br><br>

  <label for="Time">Time :</label>
  <input id="Time" type="time" name="time" placeholder="">


  <br><br>

 <label for="Description">Description :</label>
 <textarea rows="4" cols="50" placeholder="tell people more about the event">

</textarea>

  {{!-- <label for="Description">Description :</label>
  <input id="Description" type="description" name="description" placeholder="tell people more about the event"> --}}
 <p>Yes!!! You can invite your friends too :)</p>

 
<input type="submit">

</form>